h1 {
  font-family: "Poppins", sans-serif;
}

/*** Button Start ***/
.btn {
  font-weight: 600;
  transition: 0.5s;
}

.btn-square {
  width: 32px;
  height: 32px;
}

.btn-sm-square {
  width: 34px;
  height: 34px;
}

.btn-md-square {
  width: 44px;
  height: 44px;
}

.btn-lg-square {
  width: 56px;
  height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}

.btn.border-secondary {
  transition: 0.5s;
}

.btn.border-secondary:hover {
  background: var(--bs-secondary) !important;
  color: var(--bs-white) !important;
}

/*** Navbar Start ***/

.navbar .navbar-nav .nav-link {
  padding: 10px 25px;

  font-size: 22px;
  transition: 0.5s;
}

.navbar {
  height: 100px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active,
.fixed-top.bg-white .navbar .navbar-nav .nav-link:hover,
.fixed-top.bg-white .navbar .navbar-nav .nav-link.active {
  color: var(--bs-primary);
}

.navbar .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  vertical-align: middle;
  margin-left: 8px;
}

@media (min-width: 1200px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    visibility: hidden;
    top: 100%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
    border: 0;
    transition: 0.5s;
    opacity: 0;
  }
}

.dropdown .dropdown-menu a:hover {
  background: var(--bs-secondary);
  color: var(--bs-primary);
}

.navbar .nav-item:hover .dropdown-menu {
  transform: rotateX(0deg);
  visibility: visible;
  background: var(--bs-light) !important;
  border-radius: 10px !important;
  transition: 0.5s;
  opacity: 1;
}

#searchModal .modal-content {
  background: rgba(255, 255, 255, 0.8);
}
/*** Navbar End ***/

/*** Hero Header ***/
.hero-header {
  width: 2701px; /* Set the width to 100% */
  height: 744px; /* Set the height to 400 pixels */
  background: linear-gradient(
      rgba(248, 223, 173, 0.1),
      rgba(248, 223, 173, 0.1)
    ),
    url(../../public/assets/img/image2.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
}

@media (min-width: 992px) {
  .hero-header,
  .page-header {
    margin-top: 152px !important;
  }
}

@media (max-width: 992px) {
  .hero-header,
  .page-header {
    margin-top: 97px !important;
  }
}
/*** Hero Header end ***/

/*** featurs Start ***/
.featurs .featurs-item .featurs-icon {
  position: relative;
  width: 120px;
  height: 120px;
}

.featurs .featurs-item .featurs-icon::after {
  content: "";
  width: 35px;
  height: 35px;
  background: var(--bs-secondary);
  position: absolute;
  bottom: -10px;
  transform: translate(-50%);
  transform: rotate(45deg);
  background: var(--bs-secondary);
}
/*** featurs End ***/

/*** service Start ***/
.service .service-item .service-content {
  position: relative;
  width: 250px;
  height: 130px;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*** service End ***/

/*** Fruits Start ***/
.fruite .tab-class .nav-item a.active {
  background: var(--bs-secondary) !important;
}

.fruite .tab-class .nav-item a.active span {
  color: var(--bs-white) !important;
}

.fruite .fruite-categorie .fruite-name {
  line-height: 40px;
}

.fruite .fruite-categorie .fruite-name a {
  transition: 0.5s;
}

.fruite .fruite-categorie .fruite-name a:hover {
  color: var(--bs-secondary);
}

.fruite .fruite-item {
  height: 100%;
  transition: 0.5s;
}
.fruite .fruite-item:hover {
  box-shadow: 0 0 55px rgba(0, 0, 0, 0.4);
}

.fruite .fruite-item .fruite-img {
  overflow: hidden;
  transition: 0.5s;
  border-radius: 10px 10px 0 0;
}

.fruite .fruite-item .fruite-img img {
  transition: 0.5s;
}

.fruite .fruite-item .fruite-img img:hover {
  transform: scale(1.3);
}
/*** Fruits End ***/

/*** Banner Section Start ***/
.banner .banner-btn:hover {
  background: var(--bs-primary);
}
/*** Banner Section End ***/

/*** Facts Start ***/
.counter {
  height: 100%;
  text-align: center;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.05);
}

.counter i {
  font-size: 60px;
  margin-bottom: 25px;
}

.counter h4 {
  color: var(--bs-primary);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.counter h1 {
  margin-bottom: 0;
}
/*** Facts End ***/

/*** Single Page Start ***/
.pagination {
  display: inline-block;
}

.pagination a {
  color: var(--bs-dark);
  padding: 10px 16px;
  text-decoration: none;
  transition: 0.5s;
  border: 1px solid var(--bs-white);
  margin: 0 4px;
}

.pagination a.active {
  background-color: var(--bs-primary);
  color: var(--bs-light);
  border: 1px solid var(--bs-secondary);
}

.pagination a:hover:not(.active) {
  background-color: var(--bs-primary);
}

.nav.nav-tabs .nav-link.active {
  border-bottom: 2px solid var(--bs-secondary) !important;
}
/*** Single Page End ***/

/*** Footer Start ***/
.footer .footer-item .btn-link {
  line-height: 35px;
  color: rgba(165, 22, 22, 0.5);
  transition: 0.5s;
}

.footer .footer-item .btn-link:hover {
  color: var(--bs-white) !important;
}

.footer .footer-item p.mb-4 {
  line-height: 35px;
}
/*** Footer End ***/

/* Default font size */
.filter-text {
  font-size: 16px; /* Default font size */
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .filter-text {
    font-size: 14px; /* Font size for mobile devices */
  }
}
